:root {
    --white: #fff;
    --pink: #D3B3B8;
    --lpink: #F7EBED;
    --black: #292325;
    --blue: #116DFF;
    --fontBig: 46px;
    --header-height: 80px;
    --header-padding: 48px;
    --max-width: 1240px;
    --bg-second: #f9fafa;
    --bottom-header-height: 120px;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-second);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}


/* reusable class */
.container {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 0 20px;
}

.btn {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.d-flex-center-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-lpink {
    background-color: var(--lpink);
}


/* top header */
/* .header-wrapper {
} */
.top-header {
    background-color: var(--white);
    height: var(--header-height);
    padding: 0 var(--header-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
    line-height: 1.5;
    position:fixed;
    top: 0;
    z-index: 6;

}

.left-wrapper {
    display: flex;
    align-items: center;
}


.header-logo {
    display: block;
}

.header-logo > img {
    width: 70px;
    height: 100%;
}


.mode-view {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.mode-view > a {
    position: relative;
    width: 100%;
}

.mode-view > a > img {
    width: 30px;
    height: 30px;
    display: block;
}

.mode-view > a > img:hover {
    filter: invert(29%) sepia(59%) saturate(2914%) hue-rotate(211deg) brightness(101%) contrast(108%);
    opacity: .8;
}

.divided {
    display: block;
    width: 1px;
    height: 28px;
    background-color: var(--black);
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.5;
}




.right-wrapper {
    display: flex;
    align-items: center;
}

.header-text {
    font-weight: 400;
    margin-right: 20px;
    font-size: 18px;
    color: var(--black);
}

.header-link {
    font-weight: 300;
    text-decoration: underline;
    margin-right: 40px;
    align-self: center;
    color: var(--black);
}

.header-link:hover {
    color: var(--blue);
}

.edit-btn {
    padding: 14px 30px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 20px;
    font-size: 1rem;
}

.edit-btn:hover {
    opacity: .9;
}

/* end top header */

/* Bottom header */
.bottom-header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    background-color: var(--bg-second);
    top: var(--header-height);
    z-index: 5;
    height: var(--bottom-header-height);
}

.author-logo {
    display: block;
    height: 80px;
    width: 80px;
    background-color: var(--pink);
    text-align: center;
 
}

.author-logo:hover {
    background-color: var(--black);
    transition: all .5s ease;
}

.author-logo > span {
    font-weight: 700;
    font-size: var(--fontBig);
    color: var(--white);
    line-height: 80px;
}



.author-name {
    margin-left: 1.8rem;
    font-weight: 300;
    font-size: 1.1rem;
}

.main-menu {
    display: flex;
    margin-right: 120px;
}

.main-menu > li:not(:last-child) {
    margin-right: 30px;
}


.main-menu > li > a {
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--black);
}

.main-menu > li > a:hover {
    color: var(--pink);
    transition: all .3s ease;
}


.main-menu > li > a.active {
    color: var(--pink);
}

.main-contact {
    display: flex;
    align-items: baseline;
}

.main-contact-link {
    width: 100%;
}

.main-contact-icon {
    display: block;
    width: 25px;
    height: 25px;
    
}

.main-contact-icon:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7489%) hue-rotate(280deg) brightness(82%) contrast(99%);
}

/* End bottom header */

/* Main Part */
main {
    margin-top: calc( var(--header-height) + var(--bottom-header-height) + 20px);
}

/* Banner */
.banner {
    position: relative;
    width: 100%;
}

.banner-image {
    width: 100%;
    height: auto;
    max-height: 650px;
    object-fit: cover;
}

/* Introduction */
.introduction {
    margin-top: 30px;
}

.introduction-wrapper {
    position: relative;
    height: 100%;
}

.introduction-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction-description > h3 {
    font-size: var(--fontBig);
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
}

.introduction-description > h3 > span {
    color: var(--pink);
}

.introduction-description > p {
    line-height: 1.5;
    font-weight: 300;
    margin-top: 30px;
}

.introduction-image {
    object-fit: cover;
    width: 100%;
    height: 560px;
} 
